* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

[class*=__container] {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 36px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  align-items: center;
}

.header__container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.header__col1 {
  display: flex;
  -moz-column-gap: 48px;
       column-gap: 48px;
}

.header__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu__list {
  display: flex;
  -moz-column-gap: 48px;
       column-gap: 48px;
  justify-content: center;
}

.menu__item {
  list-style-type: none;
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
}

.menu__link {
  text-wrap: none;
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.25px;
}

.header__col2 {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}

.header__button-login {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.25px;
  background-color: transparent;
  width: 64px;
}

.header__button-signup {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 164.706% */
  letter-spacing: 0.25px;
  width: 144px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #00C805;
}

.main__container {
  max-height: 100%;
}

.main__first-block {
  display: flex;
  justify-content: space-between;
  background-color: #C3F53C;
  min-height: 654px;
}

.main__col1 {
  margin-top: 94px;
  margin-left: 117px;
}

.main_col1__title {
  max-width: 300px;
  color: #000;
  font-family: Roboto;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 130.435% */
  letter-spacing: 1.75px;
  margin-bottom: 31px;
}

.main_col1__subtitle {
  max-width: 486px;
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
  letter-spacing: 0.24px;
  margin-bottom: 39px;
}

.main_col1__button {
  width: 144px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #000;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 164.706% */
  letter-spacing: 0.25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
}

.main_col1__end {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
}

.main_col1_end__col2 {
  width: 325px;
  flex-shrink: 0;
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.25px;
}

.main_col2__background {
  display: block;
  margin-top: 13px;
  margin-right: 119px;
  max-width: 600px;
  max-height: 600px;
}

.horisontal-line {
  /* Line 3 */
  display: block;
  content: "";
  max-width: 100%;
  height: 0;
  left: 0;
  border: 1px solid rgb(0, 0, 0);
}

.main__second-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 94px;
}
.main__second-block div {
  display: inline;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.25px;
  text-align: left;
  margin: 0 auto;
}

.bold {
  text-decoration: underline;
}

.main__third-block {
  display: flex;
}

.third-block__col2 {
  margin-left: 11px;
}

.third-block-col2__title {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 45px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.75px;
  text-align: left;
  margin-bottom: 26px;
  margin-top: 166px;
}

.third-block-col2__subtitle {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.25px;
  text-align: left;
}
.third-block-col2__subtitle img {
  margin-left: 7px;
}

.main__fifth-block {
  overflow: hidden;
  display: flex;
}

.fifth-block__title {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 31px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.32px;
  text-align: left;
  margin-bottom: 18px;
  margin-top: 48px;
  margin-left: 117px;
}

.fifth-block__subtitle {
  color: rgb(111, 120, 126);
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.25px;
  text-align: left;
  margin-bottom: 48px;
  margin-left: 117px;
}

.fifth-block__cols {
  display: grid;
  grid-template-columns: 250px 250px 250px 100%;
  -moz-column-gap: 55px;
       column-gap: 55px;
  margin-left: 117px;
}

.col__title {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.25px;
  text-align: left;
  margin-bottom: 10px;
  z-index: 1;
}

.col__description {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.25px;
  text-align: left;
  margin-bottom: 65px;
  z-index: 1;
}

.fifth-block__info {
  color: rgb(111, 120, 126);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.25px;
  text-align: left;
  margin-left: 117px;
}

.fifth-block__colors {
  display: block;
  top: 0;
}

.main__six-block {
  display: flex;
  height: 771px;
  background: rgb(240, 235, 230);
}

.six-block__col1 {
  position: relative;
  z-index: 1;
}

.six-block-col1__title {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 31px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.32px;
  text-align: left;
  margin: 82px 0 26px 117px;
}

.six-block-col1__variety {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.variety {
  color: rgb(111, 120, 126);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.24px;
  text-align: left;
  white-space: nowrap;
}

.variety:first-child {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 23px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.24px;
  text-align: left;
  margin-left: 117px;
}

.variety:last-child {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}

.vertical__line {
  /* Rectangle */
  content: "";
  width: 1px;
  height: 36px;
  background: rgb(0, 0, 0);
}

.crypto {
  color: rgb(255, 144, 175);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.24px;
  text-align: left;
}

.six-block-col1__description {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.25px;
  text-align: left;
  margin: 74px 0 217px 117px;
  max-width: 395px;
}

.six-block-col1_button {
  /* Rectangle */
  width: 164px;
  height: 28px;
  border-radius: 24px;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 17px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.25px;
  text-align: center;
  margin: 0 0 122px 117px;
}

.six-block__info {
  color: rgb(111, 120, 126);
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.25px;
  text-align: left;
  margin-left: 117px;
}

.six-block__col2 {
  z-index: 2;
}

.six-block-col2__img {
  display: block;
  max-width: 100%;
  margin-top: 80px;
}

.six-block-col2__description {
  text-align: end;
  margin-right: 35px;
}

.footer__cover {
  background-color: #000;
}

.footer__cols {
  display: flex;
  justify-content: space-between;
  padding-top: 54px;
}

.footer-col1 {
  display: grid;
  grid-template-columns: 186px 186px 186px;
  margin-left: 117px;
}

.footer-col1__col {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.footer-col1__col div {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.25px;
  text-align: left;
}

.footer-col2 {
  margin-right: 117px;
}

.footer-col2__icon {
  display: block;
  margin-bottom: 22px;
}

.footer-col2__description {
  color: rgb(121, 133, 139);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.25px;
  text-align: left;
  max-width: 470px;
  margin-bottom: 10px;
}

.footer-col2__input-block {
  /* Rectangle */
  content: "";
  width: 492px;
  height: 64px;
  left: 0%;
  right: 0%;
  top: 0;
  bottom: 0;
  border-radius: 32px;
  background: rgb(30, 33, 36);
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
}

.footer__input {
  position: relative;
  display: block;
  border: 0;
  background: none;
  color: rgba(255, 255, 255, 0.5);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.25px;
  margin-left: 37px;
  height: 28px;
  margin: auto 0;
  left: 37px;
}

.input__button {
  display: block;
  position: relative;
  width: 155px;
  height: 28px;
  border-radius: 24px;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.25px;
  text-align: center;
  background: rgb(0, 200, 5);
  margin: auto 0;
  right: 12px;
}

.footer-col2__summary {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.25px;
  text-align: left;
  text-align: end;
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.footer__rights {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-align: left;
  max-width: 1160px;
  margin-left: 117px;
}

.footer__end {
  color: rgb(121, 133, 139);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.25px;
  text-align: left;
  margin-left: 117px;
  margin-top: 35px;
  padding-bottom: 250px;
}
.footer__end img {
  display: inline-block;
  width: 25.67px;
  height: 25.67px;
}
.hrr {
  display: none;
  content: "";
  max-width: 100%;
  height: 2px;
  margin: 0 15px 0 15px;
  background-color: white;
}

@media (max-width: 1450px) {
  .main__six-block {
    display: flex;
    background: rgb(240, 235, 230);
  }
}
@media (max-width: 1400px) {
  .main_col2 {
    max-height: 654px;
  }
  .main_col2__background {
    max-width: 100%;
    margin-left: 60px;
    margin-top: 60px;
  }
  .main__first-block {
    display: flex;
    justify-content: space-between;
  }
  .main__six-block {
    display: flex;
    flex-direction: column;
    height: 1400px;
    background: rgb(240, 235, 230);
  }
  .six-block-col2__img {
    display: block;
    max-width: 100%;
    margin-top: 80px;
    margin: 0 auto;
  }
  .six-block-col2__description {
    text-align: center;
  }
  .footer__cols {
    display: flex;
    flex-direction: column;
  }
  .footer-col1 {
    justify-content: center;
  }
  .footer-col2 {
    margin: 0;
  }
  .footer-col2 div {
    text-align: center;
  }
  .footer-col2 {
    margin: 0;
  }
  .footer-col2__icon {
    display: block;
    margin: 25px auto;
  }
  .footer-col2__description {
    color: rgb(121, 133, 139);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.25px;
    text-align: left;
    max-width: 470px;
    margin-bottom: 10px;
    margin: 25px auto;
  }
  .footer-col2__input-block {
    margin: 0 auto;
    /* Rectangle */
    content: "";
    width: 492px;
    height: 64px;
    left: 0%;
    right: 0%;
    top: 0;
    bottom: 0;
    border-radius: 32px;
    background: rgb(30, 33, 36);
    display: flex;
    margin-bottom: 27px;
  }
  .footer__input {
    position: relative;
    display: block;
    border: 0;
    background: none;
    color: rgba(255, 255, 255, 0.5);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.25px;
    margin-left: 37px;
    height: 28px;
    margin: auto 0;
    left: 37px;
  }
  .input__button {
    display: flex;
    position: relative;
    width: 155px;
    height: 28px;
    border-radius: 24px;
    color: rgb(0, 0, 0);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.25px;
    text-align: center;
    background: rgb(0, 200, 5);
    justify-content: center;
    right: 12px;
  }
  .footer-col2__summary {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.25px;
    text-align: left;
    text-align: end;
    margin-bottom: 36px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
  .footer__rights {
    margin-left: 25px;
    margin-right: 25px;
    max-width: 100%;
  }
  .footer__end {
    margin: 0;
    margin-left: 25px;
    margin-top: 25px;
  }
}
@media (max-width: 1160px) {
  .fifth-block__title {
    margin-left: 30px;
  }
  .fifth-block__subtitle {
    margin-left: 30px;
  }
  .fifth-block__info {
    margin-left: 30px;
  }
  .fifth-block__cols {
    display: grid;
    grid-template-columns: 100%;
    margin-left: 30px;
    margin-right: 30px;
  }
  .main__fifth-block {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .main__fifth-block img {
    display: block;
    width: 60%;
    height: 60%;
    margin: 0 auto;
  }
}
@media (max-width: 1100px) {
  .main__third-block {
    display: flex;
    flex-direction: column;
  }
  .third-block__col2 {
    margin: 0 auto;
  }
  .third-block-col2__title {
    margin-top: 25px;
  }
  .third-block-col2__subtitle {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }
}
@media (max-width: 1010px) {
  .header__container {
    display: flex;
    max-width: 100vw;
    margin-left: 25px;
    margin-right: 25px;
    justify-content: space-between;
    height: 100px;
    align-items: center;
  }
  .header__col1 {
    display: block;
    -moz-column-gap: 48px;
         column-gap: 48px;
    width: 100%;
  }
  ul {
    flex-wrap: wrap;
  }
  .header__button-login {
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
    letter-spacing: 0.25px;
    background-color: transparent;
    text-wrap: none;
    width: 64px;
  }
  .header__button-signup {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 164.706% */
    letter-spacing: 0.25px;
    width: 144px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #00C805;
    flex-wrap: nowrap;
  }
  .main__col1 {
    justify-content: center;
    margin-top: 45px;
    margin-left: 35px;
    margin-right: 35px;
    text-wrap: wrap;
  }
  .main_col2__background {
    display: block;
    margin-top: 13px;
    margin-right: 25px;
    z-index: 999;
    max-width: 100%;
  }
  .main__first-block {
    display: flex;
    flex-direction: column;
    background-color: #C3F53C;
    height: 100%;
    max-width: 950px;
  }
  .main_col1__title {
    max-width: 100%;
    color: #000;
    font-family: Roboto;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 130.435% */
    letter-spacing: 1.75px;
    margin-bottom: 31px;
  }
  .main_col1__subtitle {
    max-width: 100%;
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 150% */
    letter-spacing: 0.24px;
    margin-bottom: 39px;
  }
  .main_col1__button {
    width: 144px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #000;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 164.706% */
    letter-spacing: 0.25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
  }
  .main_col1__end {
    display: flex;
    -moz-column-gap: 12px;
         column-gap: 12px;
  }
  .main_col1_end__col2 {
    width: 325px;
    flex-shrink: 0;
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: 0.25px;
  }
  .six-block-col1__variety {
    display: flex;
    flex-direction: column;
  }
  .variety {
    margin: 0 auto;
  }
  .variety:first-child {
    margin: 0 auto;
  }
  .six-block-col1__title {
    margin: 30px auto;
    text-align: center;
    font-weight: bold;
  }
  .six-block-col1_button {
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
    width: 70%;
    height: 35px;
  }
  .six-block-col1__description {
    margin: 35px 30px;
    max-width: 100%;
  }
  .main__six-block {
    height: 1200px;
  }
}
@media (max-width: 840px) {
  .main_col2__background {
    margin-left: 0;
    max-width: 100%;
  }
}
@media (max-width: 700px) {
  .six-block-col1__description {
    margin: 74px 25px 35px 25px;
    max-width: 100%;
  }
  .six-block-col1_button {
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
    width: 70%;
    height: 35px;
  }
  .six-block__info {
    margin: 0 auto;
  }
  .six-block-col1__variety {
    display: flex;
    flex-direction: column;
  }
  .variety {
    margin: 0 auto;
  }
  .variety:first-child {
    margin: 0 auto;
  }
  .six-block-col1__title {
    margin: 30px auto;
    text-align: center;
    font-weight: bold;
  }
}
@media (max-width: 620px) {
  .footer-col2__input-block {
    /* Rectangle */
    content: "";
    width: 300px;
    height: 44px;
    border-radius: 32px;
    background: rgb(30, 33, 36);
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
  }
  .footer__input {
    position: relative;
    display: block;
    border: 0;
    background: none;
    color: rgba(255, 255, 255, 0.5);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.25px;
    margin-left: 37px;
    height: 28px;
    margin: auto 0;
    left: 17px;
  }
  .input__button {
    display: block;
    position: relative;
    width: 70px;
    height: 30px;
    border-radius: 24px;
    color: rgb(0, 0, 0);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.25px;
    text-align: center;
    background: rgb(0, 200, 5);
    margin: auto 0;
    right: 12px;
  }
}
@media (max-width: 600px) {
  .main__first-block {
    display: flex;
    flex-direction: column;
    background-color: #C3F53C;
    height: 100%;
    max-width: 950px;
  }
  .main_col1__title {
    width: 100%;
    color: #000;
    font-family: Roboto;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 130.435% */
    letter-spacing: 1.75px;
    margin-bottom: 31px;
    overflow-wrap: break-word;
  }
  .main_col1__subtitle {
    width: 100%;
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 150% */
    letter-spacing: 0.24px;
    margin-bottom: 39px;
    overflow-wrap: break-word;
  }
  .main__first-block {
    margin-bottom: 25px;
  }
  .main_col2__background {
    margin-left: 0;
    max-width: 100%;
  }
  .footer-col1 {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
  }
  .footer-col2__description {
    margin: 0 20px 0 20px;
  }
  .footer-col1 {
    margin-left: 35px;
    margin-right: 35px;
  }
  .hrr {
    display: block;
  }
}
@media (max-width: 578px) {
  .header__container {
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .main__first-block {
    margin-bottom: 25px;
  }
  .main_col2__background {
    margin-left: 0;
    max-width: 100%;
  }
}
@media (max-width: 529px) {
  .header__container {
    display: flex;
    flex-direction: column;
    height: 160px;
    align-items: center;
    margin-bottom: 70px;
  }
  .header__logo {
    display: block;
    margin: 25px auto;
  }
  .menu__list {
    margin: 0 auto;
    max-width: 100%;
  }
  .header__col2 {
    margin-top: 25px;
  }
  .main_col2__background {
    display: block;
    margin-top: 13px;
    margin-right: 119px;
    max-width: 100%;
    margin-left: 0;
  }
  .main__first-block {
    display: flex;
    justify-content: space-between;
    background-color: #C3F53C;
    height: 100%;
    max-width: 500px;
  }
}
@media (max-width: 500px) {
  .header__container {
    display: flex;
    flex-direction: column;
    height: 130px;
    align-items: center;
    margin-bottom: 100px;
  }
  .header__button-login {
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
    letter-spacing: 0.25px;
    background-color: transparent;
    text-wrap: none;
    width: 64px;
  }
  .header__button-signup {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 164.706% */
    letter-spacing: 0.25px;
    width: 144px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #00C805;
    flex-wrap: nowrap;
  }
  .main_col2__background {
    display: block;
    margin-top: 2px;
    margin-right: 2px;
    z-index: 999;
    max-width: 100%;
    margin-left: 0;
  }
  .main__first-block {
    display: flex;
    justify-content: space-between;
    background-color: #C3F53C;
    height: 100%;
    max-width: 470px;
  }
  .main_col1__subtitle {
    font-size: 20px;
  }
  .main_col1_end__col2 {
    font-size: 12px;
  }
  .main__second-block div {
    font-size: 13px;
  }
  .main__six-block {
    height: 1070px;
  }
}
@media (max-width: 480px) {
  .header__container {
    display: flex;
    flex-direction: column;
    height: 160px;
    align-items: center;
  }
  .main__first-block {
    display: flex;
    justify-content: space-between;
    background-color: #C3F53C;
    height: 100%;
    max-width: 450px;
  }
  .main_col2__background {
    display: block;
    margin-top: 13px;
    margin-right: 119px;
    z-index: 999;
    max-width: 100%;
    margin-left: 0;
  }
  .main__first-block {
    margin-bottom: 25px;
  }
}
@media (max-width: 450px) {
  .header__container {
    display: flex;
    flex-direction: column;
    height: 160px;
    align-items: center;
  }
  .main__first-block {
    display: flex;
    justify-content: space-between;
    background-color: #C3F53C;
    height: 100%;
    max-width: 420px;
  }
  .main_col2__background {
    display: block;
    margin-top: 13px;
    margin-right: 119px;
    z-index: 999;
    max-width: 100%;
    margin-left: 0;
  }
  .main__first-block {
    margin-bottom: 25px;
  }
}
@media (max-width: 440px) {
  .main_col1_end__col2 {
    width: 100%;
    overflow-wrap: break-word;
  }
  .main__first-block {
    display: flex;
    justify-content: space-between;
    background-color: #C3F53C;
    height: 100%;
    max-width: 370px;
  }
  .main_col2__background {
    margin-left: 0;
    max-width: 100%;
  }
  .main__six-block {
    height: 1030px;
  }
}
@media (max-width: 400px) {
  .header__container {
    display: flex;
    flex-direction: column;
    height: 160px;
    align-items: center;
  }
  .main__first-block {
    display: flex;
    justify-content: space-between;
    background-color: #C3F53C;
    height: 100%;
    max-width: 370px;
  }
  .main_col2__background {
    display: block;
    margin-top: 13px;
    margin-right: 119px;
    z-index: 999;
    max-width: 100%;
    margin-left: 0;
  }
  .main__second-block div {
    font-size: 10px;
  }
}/*# sourceMappingURL=style.css.map */